.Book {
    width: 60%;
    margin: 0px auto 10px;
    border-radius: 15px;
    display: flex;
    background-color: #FFEACD;
    flex-direction: column;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    transition: background-color 1s;
}

.Book:hover {
    border-radius: 15px;
    background-color: #FFD496;
}

@media (max-width: 1400px) {
    .Book {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .Book {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .Book {
        width: 95%;
    }
}

.Book-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px;
}

.Book-container img {
    align-self: center;
    margin-right: 0.5em;
    border-radius: 15px;
}

.Book-description {
    align-self: center;
    justify-self: center;
    margin: 0 auto;
    /* flex: 0 0 auto; */
}

.Book-link {
    text-decoration: none;
    color: #555555;
}

.Book-author {
    font-weight: bold;
}

.Book-subtitle {
    font-style: italic;
}

.Book-button {
    align-self: center;
    width: 128px;
    background-color: #9DD0FE;
    line-height: 1;
    text-align: center;
    border: none;
    padding: 10px 0px;
    border-radius: 7px;
    color: #555555;
    transition: color 0.3s, transform 0.3s;
}

.Book-button:focus {
    outline: 0;
}

.Book-button:hover {
    color: #FFF3CD;
}

.Book-button:active {
    transform: translateY(2px);
}

.Book-button-container {
    margin: 10px;
    align-self: flex-start;
    /* height: 35px; */
}