.Book {
    width: 60%;
    margin: 0px auto 10px;
    background-color: #FFEACD;
    border-radius: 15px;
}

@media (max-width: 1400px) {
    .Book {
        width: 70%;
    }
}

@media (max-width: 1200px) {
    .Book {
        width: 80%;
    }
}

@media (max-width: 400px) {
    .Book {
        width: 95%;
    }
}

.Book-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 10px;
}

.Book-container img {
    align-self: center;
    padding-right: 0.5em;
}

.Book-description {
    align-self: center;
    margin: 0 auto;
}

.Book-link {
    text-decoration: none;
    color: #555555;
}

.Book-author {
    font-weight: bold;
}

.Book-subtitle {
    font-style: italic;
}

.Book-button {
    align-self: center;
}