.Book-Browser {
    background-color: #FFF3CD;
}

.Book-Browser-intro {
    line-height: normal;
    margin-top: 60px;
    margin-bottom: 10px;
    font-style: italic;
}

.Book-Browser-search-form {
    position: -webkit-sticky;
    position: sticky;
    top: 50px;
    width: 100%;
    background-color: #FFF3CD;
}

*:focus {
    outline: none;
}

/* #fffde7 */