@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.EditJournalEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.EditJournalEntry-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    background-color: #FFD496;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 15px;
}

.EditJournalEntry-img {
    border-radius: 15px;
    margin-right: 15px;
}

.EditJournalEntry-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.EditJournalEntry-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex: 1;
}

.EditJournalEntry-notes {
    margin-bottom: 0px;
}

.EditJournalEntry-input {
    background-color: #FFEACD;
    border-radius: 15px;
    border: none;
}

.EditJournalEntry-label>textarea {
    text-align: left;
    width: 50vw;
    height: 200px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-radius: 15px;
    background-color: #FFEACD;
    resize: none;
}

.EditJournalEntry-descriptor {
    font-weight: bold;
    margin-bottom: 5px;
}

@media (max-width: 600px) {
    .EditJournalEntry-container {
        flex-direction: column;
    }
    .EditJournalEntry-img {
        align-self: center;
        margin-bottom: 15px;
    }
    .EditJournalEntry-label>textarea {
        width: 80vw;
    }
}